<h2>Lista de categorias</h2>
<hr>
<a href="./categories/add" class="btn btn-primary">Nova categoria</a>
<a href="/" class="btn btn-secondary">Voltar</a>
<hr>
{{#each categories}}
  <div class="card mt-2">
    <div class="card-body">
      <h4>{{name}}</h4>
      <p>Slug: {{slug}}</p>
      <p>Criação: {{createdAt}}</p>
      <p>Modificação: {{updatedAt}}</p>
      <a href="/admin/categories/edit/{{id}}" class="btn btn-warning">Editar categoria</a>
      <form action="/admin/categories/delete" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-danger mt-4">Deletar categoria</button>
      </form>
    </div>
  </div>
{{else}}
{{/each}}