<h3>Editar Categoria</h3>
{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<form action="/admin/categories/edit" method="POST">
  <input type="hidden" name="id" value="{{category._id}}">
  <label for="nome">Nome: </label>
    <input type="text" id="name" name="name" value="{{category.name}}" placeholder="Nome da categorias">
  <label for="slug">Slug: </label>
    <input type="text" id="slug" name="slug" value="{{category.slug}}" placeholder="Slug da categorias">
  <button type="submit" class="btn btn-success">Editar categoria</button>
</form>