<h2>Postagem</h2>
<hr>

<div class="card mt-2">
  <div class="card-body">
    <h4>{{post.title}}</h4>
    <p>Slug: {{post.slug}}</p>
    <p>Categoria: {{post.category.name}}</p>
    <p>Descrição: {{post.description}}</p>
    <p>Conteúdo: {{post.content}}</p>
    <p>Criação: {{post.createdAt}}</p>
    <p>Modificação: {{post.updatedAt}}</p>
    <a href="/" class="btn btn-warning">Voltar</a>
  </div>
</div>
